configuration {
	font: "JetBrainsMonoNL Nerd Font 20";
	show-icons: false;
}

window {
    width: 235;
}

mainbox {
    children: [listview];
}

element {
    padding: 20 40;
}

element.selected {
    background-color: @bg-alt;
    border-radius: 0;
}

listview {
    padding: 5 5;
    lines: 3;
}
