configuration {
    font: "Inter SemiBold 12";
}

@theme "dark"

* {
    spacing: 0;
}

window {
    width: 100%;
    height: 190;
    location: south;
    y-offset: -100;
    border-radius: 0;
}

mainbox {
    children: [ message, box-buttons ];
    background-color: @background;
    padding: 25 0;
}

spacer {
    content: "";
    expand: true;
    background-color: transparent;
}

textbox {
    background-color: @background;
    color: @foreground;
    horizontal-align: 0.5;
    padding: 0 0 20 0;
}

box-buttons {
    children: [ spacer, listview, spacer ];
    orientation: horizontal;
    background-color: inherit;
}

listview {
    lines: 1;
    columns: 6;
    cycle: true;
    background-color: inherit;
    spacing: 15;
}

element {
    background-color: inherit;
}

element-text {
	font: "JetBrainsMono NFM 40";
    background-color: @raised;
    color: @foreground-alt;
    padding: 10 30;
    border-radius: 50;
    cursor: pointer;
}

element-text.selected {
    background-color: @urgent;
    color: @foreground;
}
