/* Everforest */

.theme-dark, .theme-light {
  /* Main */
  --background-primary: #272e33;
  --background-secondary: #1e2326;
  --background-primary-alt: var(--background-primary);
  --background-secondary-alt: var(--background-secondary);
  --text-normal: #d3c6aa;

  /* Forms */
  --slider-track-background: var(--background-secondary);
  --interactive-normal: var(--background-secondary);

  /* Borders */
  --background-modifier-border: transparent;
  --background-modifier-border-hover: transparent;
  --prompt-border-color: transparent;
  --modal-border-color: transparent;

  /* Base Colors */
  --color-base-00: #272e33;
  --color-base-05: #3a3f42;
  --color-base-10: #4c5050;
  --color-base-20: #5f615f;
  --color-base-25: #71726d;
  --color-base-30: #84837c;
  --color-base-35: #96958a;
  --color-base-40: #a9a699;
  --color-base-50: #bbb7a7;
  --color-base-60: #cec8b6;
  --color-base-70: #e0d9c4;
  --color-base-100: #f3ead3;

  /* Accent Colors */
  --color-red: #e67e80;
  --color-orange: #e69875;
  --color-yellow: #dbbc7f;
  --color-green: #a7c080;
  --color-cyan: #83c092;
  --color-blue: #7fbbb3;
  --color-purple: #d699b6;
  --color-pink: #d699b6;

  /* Accent HSL */
  --accent-h: 83;
  --accent-s: 34%;
  --accent-l: 63%;

  /* Headers */
  --h1-color: var(--color-red);
  --h2-color: var(--color-orange);
  --h3-color: var(--color-yellow);
  --h4-color: var(--color-green);
  --h5-color: var(--color-cyan);
  --h6-color: var(--color-blue);

  /* Text Styles */
  --bold-color: var(--color-blue);
  --italic-color: var(--color-blue);
  --checklist-done-color: inherit;

  /* Tables */
  --table-border-color: var(--text-normal);
  --table-add-button-border-color: var(--text-normal);
  --table-border-width: 1px;

  /* Lines */
  --hr-color: var(--text-normal);
  --hr-thickness: 1px;
}
