/* Nord */

.theme-dark, .theme-light {
    /* Main */
    --text-normal: #d8dee9;
    --background-primary: #3b4252;
    --background-secondary: #2e3440;

    /* Base Colors */
    --color-base-00: #3b4252;
    --color-base-05: #4b5261;
    --color-base-10: #5b616f;
    --color-base-20: #6b717e;
    --color-base-25: #7b818d;
    --color-base-30: #8b919c;
    --color-base-35: #9ca0aa;
    --color-base-40: #acb0b9;
    --color-base-50: #bcc0c8;
    --color-base-60: #ccd0d7;
    --color-base-70: #dcdfe5;
    --color-base-100: #eceff4;
    
    /* Accent Colors */
    --color-red: #bf616a;
    --color-orange: #d08770;
    --color-yellow: #ebcb8b;
    --color-green: #a3be8c;
    --color-cyan: #8fbcbb;
    --color-blue: #81a1c1;
    --color-purple: #b48ead;
    --color-pink: #b48ead;

    /* Accent HSL */
    --accent-h: 193;
    --accent-s: 43%;
    --accent-l: 67%;
}
